.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: blue;
  font-size: 30px;

}
.container a{
  text-decoration: none;
  color: aliceblue;
}
.container a[class='active']{
  color: red;
}
